<h3>Players</h3>
<table>
  <thead>
    <tr>
      <td>contract until</td>
      <td>date of birth</td>
      <td>Number</td>
      <td>market value</td>
      <td>name</td>
      <td>nationality</td>
      <td>position</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let player of players'>
      <td>{{player.contractUntil}}</td>
      <td>{{player.dateOfBirth}}</td>
      <td>{{player.jerseyNumber}}</td>
      <td>{{player.marketValue}}</td>
      <td>{{player.name}}</td>
      <td>{{player.nationality}}</td>
      <td>{{player.position}}</td>
    </tr>
  </tbody>
</table>